.book-manage-hero {
    color: white;
    background: linear-gradient(to right, #2C3E50, #496390);
    border-radius: 10px;
    padding: 25px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.book-manage-hero button {
    background-color: rgba(250, 250, 250, 0.4);
    border: navajowhite;
    border-radius: 5px;
    color: white;
    padding: 4px;
    transition: background-color 0.3s ease;
}

.book-manage-hero button:hover {
    background-color: rgba(210, 210, 210, 0.4);
}

.book-manage-title {
    max-width: 90%;
}

.clamp-title {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
    max-width: 100%;
}

.librarian-form-container {
    display: flex;
    justify-content: space-between;
    color: #2C3E50;
    padding: 50px;
    gap: 15px;
}

.librarian-form-row {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.librarian-form-input {
    font-size: 1.3rem;
}

.librarian-form-input textarea {
    height: 200px;
}

.librarian-form-row .subjects-container {
    overflow-y: auto;
    max-height: 300px;
}

.book-form-display-image {
    width: 100%;
}

.form-buttons button {
    border: none;
    padding: 5px;
    padding-left: 7px;
    padding-right: 7px;
    border-radius: 5px;
}

.cancel-button {
    background-color: #DEDEDE;
    transition: background-color 0.3s ease;
}

.cancel-button:hover {
    background-color: #D0D0D0;
}

.save-button {
    background: #4CAF50;
    color: white;
    transition: background-color 0.3s ease;
}

.save-button:hover {
    background: #388E3C;
}

.import-container {
    background-color: #F8F9FA;
    border-radius: 10px;
    padding: 26px;
}

.import-header {
    color: #2C3E50;
}

.import-desc {
    font-size: 0.9rem;
    color: #7F8C8D;
}

.import-button {
    min-width: fit-content;
    width: 120px;
    border: none;
    background-color: #496390;
    color: white;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.import-button:hover {
    background-color: #2C3E50;
}

.toggle-slider {
    width: 60px;
    height: 25px;
    border-radius: 50px;
    transition: background-color 0.3s ease;
}

.toggle-slider.active {
    background-color: #4CAF50;
    position: relative;
}

.toggle-slider.inactive {
    background-color: gray;
    position: relative;
}

.toggle-slider::before {
    content: "";
    border-radius: 100%;
    background-color: white;
    position: absolute;
    height: 20px;
    width: 20px;
    transition: left 0.3s ease;
    top: 3%;
}

.toggle-slider.active::before {
    right: 3%;
}

.toggle-slider.inactive::before {
    left: 3%;
}