.footer-container {
    background: linear-gradient(to right, #2C3E50, #4A6491);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: flex-end;
}

.footer-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 11px;
}

.footer-header {
    font-size: 2rem;
}

.brand-container {
    display: flex;
    gap: 9px;
    font-size: 1.2rem;
}

.brand-container .fa-brands{
    cursor: pointer;
    transition: color 0.3s ease, transform 0.3s ease;
}

.brand-container .fa-brands:hover {
    color: aqua;
    transform: scale(1.2);
}