:root {
    --tw-border-color: #e5e7eb;
    --tw-blue-500: #3b82f6;
    --tw-neutral-50: #f9fafb;
    --tw-red-600: #dc2626;
}

.header-container {
    display: flex;
    justify-content: space-between;
    padding: 0.5rem 2.5rem;
    flex-direction: column;
    box-shadow: 0px 1.5px 3px rgba(0, 0, 0, 0.3);
    background: linear-gradient(to right, #2C3E50, #4A6491);
}

.header-brand,
.header-user-section,
.header-user-info,
.header-logout,
.header-login,
.header-history {
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    background-color: transparent;
    border: none;
}

.header-brand {
    justify-content: center;
    gap: 0.5rem;
    cursor: pointer;
}

.header-user-section {
    justify-content: flex-end;
    gap: 0.5rem;
}

.header-brand-icon-wrapper {
    border-radius: 0.5rem;
    width: 2.5rem;
    height: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.25rem;
}

.header-brand-icon {
    font-size: 3rem;
    line-height: 2rem;
    color: #FF6B6B;
}

.header-brand-text {
    color: white;
    margin-left: 10px;
}

.header-title {
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: 700;
}

.header-user-info {
    color: white;
}

.header-user-info:hover {
    color: cadetblue;
}

.header-user-name,
.header-user-role,
.header-title,
.header-subtitle {
    text-align: start;
}

.header-history {
    color: white;
    display: none;
}

.header-history:hover {
    color: cadetblue;
}

.header-user-avatar {
    font-size: 1.5rem;
    line-height: 2rem;
}

.header-user-name {
    font-size: 1rem;
    font-weight: 500;
}

.header-user-role {
    font-size: 0.875rem;
    line-height: 1.25rem;
}

.header-logout,
.header-login,
.header-history {
    font-size: 1.125rem;
    line-height: 1.75rem;
    margin-left: 1rem;
    gap: 0.5rem;
    cursor: pointer;
}

.header-logout,
.header-login {
    color: white;
    border-radius: 25px;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.9rem;
}

.header-logout {
    background-color: #D63C3C;
    border: 1px solid #EC5455;
}

.header-login {
    background-color: #61BFC1;
    border: 1px solid #4FAAAF;
}

.logout-icon,
.login-icon {
    border: 1.5px solid white;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.7rem;
}

.logout-text,
.login-text {
    margin-right: 5px;
}

@media (min-width: 640px) {
    .header-container {
        padding-left: 2rem;
        padding-right: 2rem;
        flex-direction: row;
        gap: 1rem;
    }

    .header-brand {
        justify-content: flex-start;
    }
}

@media (min-width: 768px) {
    .header-container {
        padding-left: 5rem;
        padding-right: 5rem;
    }

    .header-user-name {
        font-size: 0.9rem;
    }
}

@media (min-width: 1024px) {
    .header-user-name {
        font-size: 1rem;
    }

    .header-history {
        display: flex;
    }
}

@media (min-width: 1280px) {
    .header-logout {
        margin-left: 2rem;
    }
}

.website{
    overflow-x: hidden;
}