.page-container {
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
    padding: 2.5rem;
    width: 100vw;
}

@media (min-width: 768px) {
    .page-container {
        padding-left: 5rem;
        padding-right: 5rem;
    }
}

@media (min-width: 1280px) {
    .page-container {
        padding-left: 10rem;
        padding-right: 10rem;
    }
}

.welcome-banner {
    background-image: linear-gradient(to right, #3b82f6, #16a34a);
}

.welcome-banner-subtitle {
    color: #bfdbfe;
}

.book-count-badge {
    background-color: rgba(245, 245, 245, 0.3);
    width: fit-content;
}

.search-input-wrapper,
.subject-input-wrapper .form-control:focus {
    box-shadow: none;
    outline: none;
}

.selector-close-button,
.selector-reset-button {
    border-radius: 6px;
    padding: 6px 12px;
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;
}

.selector-close-button {
    background-color: #f87171;
    color: white;
}

.selector-close-button:hover {
    background-color: #ef4444;
    transform: scale(1.05);
}

.selector-reset-button {
    background-color: #60a5fa;
    color: white;
}

.selector-reset-button:hover {
    background-color: #3b82f6;
    transform: scale(1.05);
}


.subjects-selector {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.subjects-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.subjects-container .subject {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #bfdbfe;
    border-radius: 5px;
    padding: 3px;
    width: fit-content;
    cursor: pointer;
    user-select: none;
    transition: background-color 0.3s ease, color 0.3s ease, border 0.3s ease;
}

.subjects-container .subject.inactive:hover {
    border: 1px solid blue;
}

.subjects-container .subject.active:hover {
    background-color: #ef4444;
}

.subject.display {
    cursor: default;
    user-select: auto;
}

.selector-buttons {
    display: flex;
    gap: 5px;
}

.subjects-container .subject.active {
    background-color: #3b82f6;
    color: white;
}

.search-input-wrapper button i {
    display: inline-block;
    transition: transform 0.2s ease-in-out, color 0.2s ease-in-out;
}

.search-input-wrapper button i:hover {
    color: #60a5fa !important;
    transform: scale(1.2);
}

.active-outline {
    outline: 2px solid #60a5fa;
    outline-offset: 1px;
    border-color: #60a5fa !important;
}

.book-card {
    border: 1px solid #dee2e6;
}

.book-card-title {
    min-height: 2.5em;
}

.book-card-image.book-card-image {
    width: 100%;
}

.book-card-description {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.status-badge {
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
    padding: 0.25rem 0.5rem;
    border-radius: 0.75rem;
    font-size: 0.875rem;
    display: flex;
    align-items: center;
    gap: 0.25rem;
}

.status-badge.available {
    background-color: #f0fdf4;
    color: #22c55e;
}

.status-badge.unavailable {
    background-color: #fef2f2;
    color: #ef4444;
}

.form-select {
    height: 100%;
}

.pagination-bar {
    display: flex;
    justify-content: center;
    border-radius: 10px;
    width: fit-content;
}

.left-arrow-container,
.right-arrow-container,
.pagination-page {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-weight: 400;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 10px;
    padding-right: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
    width: fit-content;
    border: 1px solid rgb(186, 186, 186);
    user-select: none;

}

.left-arrow-container:hover,
.right-arrow-container:hover,
.pagination-page:hover {
    background-color: #dee2e6;
    color: #60a5fa;
}

.left-arrow-container {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.right-arrow-container {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.pagination-page {
    height: 100%;
    aspect-ratio: 1/1;
}

.pagination-page.active {
    color: #60a5fa;
    background-color: #dee2e6;
}

.pagination-page.etc {
    pointer-events: none;
}

.left-arrow-container .left-arrow,
.right-arrow-container .right-arrow {
    border: 1.5px solid #60a5fa;
    border-radius: 50%;
    color: #60a5fa;
    padding: 5px;
    width: 15px;
    height: 15px;
    font-size: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.status-icon{
    height: 10px;
    width: 10px;
    border-radius: 100%;
}

.status-icon.good{
    background-color: green;
}

.status-icon.out{
    background-color: red;
}